.idea/workspace.xml

/node_modules/

client/public

bundle.js

.idea/
.idea/gregarious-giraffes.iml
.iml

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.css
npm-debug.log

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

.env
