.idea/workspace.xml

node_modules/

client/public

bundle.js

.idea/
.idea/gregarious-giraffes.iml
.iml

.DS_Store
.AppleDouble
.LSOverride

css/


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.css