//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/
@import 'mixins/mixins';
//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/
// Config modules
@import 'modules/variables';
@import 'modules/clearfix';
@import 'modules/defaults';
@import 'modules/normalize';
//----------------------------------*\
// PARTIALS
//----------------------------------*/
@import 'partials/nav';
@import 'partials/login';
@import 'partials/logout';
@import 'partials/footer';

body {
  background-color: lightblue;
  .app {

    p {
      color: white;
    }
  }
}

// Header
.header-login {
  float: right;
}

// Footer
footer {
  position: fixed;
  bottom: 0;
}
