.chat-box {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  margin: 50px -50px 50px -50px;

  .chat-form {
    width: 100%;
  }

  .chat-list {
    height: 400px;
    margin-left: 125px;
    overflow: auto;
    padding: 15px;

    .comment-bubble {
      border-radius: 0.5em;
      background-color: rgba(173, 216, 230, 0.25);
      color: $dark-blue;
      width: 515px;
      min-height: 40px;
      overflow: hidden;
      padding: 10px;

    }
  }

  .chat-list-wrapper {
    border-radius: 0.1em;
  }

  .comment-author {
    color: $dark-blue;
    font-weight: 500;
  }

  button {
    @include three-d-button($teal-blue);
  }

  h1 {
    @include section_title($white);
    margin: 0;
    padding: 40px;
  }

  .page-header {
    margin-top: 0;
    padding-bottom: 0;
  }

}


