.chat-box {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
  margin: 50px -50px 50px -50px;

  .chat-form {
    width: 100%;
  }

  .chat-list {
    height: 400px;
    overflow: auto;
    padding: 15px;
  }

  .chat-list-wrapper {
    border-radius: 0.1em;
  }

  button {
    @include three-d-button($teal-blue);
  }

  h1 {
    @include section_title($white);
    margin: 0;
    padding: 40px;
  }

  .page-header {
    margin-top: 0;
    padding-bottom: 0;
  }

  .form-label {
    @include section_title($white);
    border-radius: 0.1em;
    border-right-width: 4px;
    border-left-width: 4px;
    font-size: 15px;
    margin-bottom: 0.4px;

  }

}


