.home {
    .container {
        max-width: 100%;
        width: 100%;
        .banner {
            text-align: center;
            height: 300px;
            background: $dark-blue;
            margin-bottom: 20px;
        }
        .thumbnail {
            text-align: center;

            .caption {
                img {
                    max-width: 300px;
                    max-height: 400px;
                }
            }
        }

        .petNews{
            .thumbnail {
                height: 370px;

                img {
                    margin-top: 15px;
                }
                p.snippet {
                    font-size: 12px;
                }
            }
        }
    }
}