.home {
    .container {
        max-width: 100%;
        width: 100%;
        .banner {
            text-align: center;
            background: $dark-blue;
            margin-bottom: 20px;
            color: $white;
        }
        .thumbnail {
            text-align: center;

            .caption {
                img {
                    max-width: 300px;
                    max-height: 400px;
                }
            }
        }
        .feed {
            .card-block {
                img {
                    width: 100px;
                }
            }
        }

        .petNews{
            .thumbnail {
                height: 370px;

                img {
                    margin-top: 15px;
                }
                p.snippet {
                    font-size: 12px;
                }
            }
        }
    }
}