.events {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    .container {
        max-width: 100%;
        width: 100%;
        .banner {
            text-align: center;
            color: white;
            background: $dark-blue;
            margin-bottom: 20px;
        }
        h3 {
            text-align: center;
        }
        .eventForm {
            form {
                width: auto;
            }
        }
    }
}