.events {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    .container {
        max-width: 100%;
        width: 100%;
        .banner {
            text-align: center;
            color: white;
            background: $dark-blue;
            margin-bottom: 20px;
        }

        .main-container {
            margin-bottom: 40px;
            .eventList {
                h1 {
                    @include section_title($white);
                }

                .form-group {
                    color: $dark-blue;

                    input {
                        border: $input-border;
                        border-radius: $input-radius;
                    }
                }
            }
            .eventForm {
                h1 {
                    @include section_title($white);
                }
                .form-group {
                    color: $dark-blue;

                    #mapSearch {
                        border: $input-border;
                        border-radius: $input-radius;
                    }
                    .selectpicker {
                        border: $input-border;
                        border-radius: $input-radius;
                    }

                    .Select-placeholder {
                        border: $input-border;
                        border-radius: $input-radius;
                    }

                    #formControlsTextarea {
                        border: $input-border;
                        border-radius: $input-radius;
                    }
                    select.form-control {
                        border: $input-border;
                        border-radius: $input-radius;
                    }
                    span.input-group {
                        border: $input-border;
                        border-radius: $input-radius;
                    }
                    .Select-Control {
                        border: $input-border;
                        border-radius: $input-radius;
                    }
                }

                button {
                    @include three-d-button($teal-blue);
                }
            }
        }


    }
}