.home {
    margin-bottom: 20px;

    .birthdayFeed {
        h1 {
            @include section_title($white);
        }
    }
    .FriendSearch {

        h1 {
            @include section_title($white);
        }

        .form-group {
            input.form-control {
                border-radius: $input-radius;
                border: $input-border;
            }
        }

        .list-group {
            .list-group-item {
                border-radius: $input-radius;
                border: $input-border;
            }
        }
    }
    .petOfDay {
        h1 {
            @include section_title($white);
        }
        .thumbnail {
            text-align: center;
            border-radius: $card-radius;
            border: $input-border;

            .caption {
                img {
                    max-width: 300px;
                    max-height: 400px;
                    border-radius: $card-radius;
                }
                .description {
                    display: -webkit-box;
                    max-width: 100%;
                    height: 70px;
                    margin: 25px;
                    line-height: 1.5;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    color: $dark-blue;
                }

                a {
                    @include three-d-button($teal-blue);
                }
            }
        }
    }
    .petNews {

        .container {
            padding: 0;

            a {
                @include three-d-button($teal-blue);
            }
            .thumbnail {
                border-radius: $card-radius;
                border: $input-border;

                img {
                    border-radius: $card-radius;
                }

                .caption {
                    color: $dark-blue;
                    text-align: center;
                }
            }
        }

    }
    .feed {
        .demo-card {
            width: 100%;

            .imagesFeed {
                h1 {
                    @include section_title($white);
                }

                .thumbnail {
                    background: $green;
                    border: none;
                    img {
                        border-radius: $card-radius;
                    }

                    .caption {
                        p {
                            color: $white;
                        }
                    }
                }
                .commentary {
                    p {
                        color: $white;
                    }
                    button {
                        @include three-d-button($teal-blue);
                    }
                }
            }

            .userFeed {

                h1 {
                    @include section_title($white);
                }

                .myCard {

                    .img-container {
                        background: $light-blue;
                        border-radius: $card-radius;
                        img {
                            margin-top: 13px;
                            margin-bottom: 13px;
                            border-radius: $card-radius;
                        }
                    }
                    .title {
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                    .detail {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
