.survey-form2 {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    @include vertical-center-flex(81vh);

    .previewComponent {

        form {
            button {
                @include three-d-button($teal-blue);
                display: block;
                margin: 10px;
            }

            input {
                display: block;
                margin: 10px;
            }
        }
        .imgPreview {
            .previewText {
                color: $dark-blue;
            }
            img {
                max-width: 300px;
                max-height: 400px;
                border-radius: $card-radius;
            }
        }
    }
}