//This stylesheet is for both log in and sign up. "login" is the class

.login {
    @include vertical-center-flex(81vh);
    color: $dark-blue;

    form {
        margin: 0 auto;
        width: 300px;

        @media #{$mq-md, $mq-lg, $mq-xlg} {
            width: 600px;
        }

        h1, h4 {
            text-align: center;
        }


        button {
            @include three-d-button($teal-blue);
        }

        .form-group {
            input.form-control {
                border-radius: $input-radius;
                border: $input-border;
            }
        }


    }
}
