.modal-content {
    color: $dark-blue;

    .modal-footer {
        button {
            @include three-d-button($teal-blue);
        }
    }

    .modal-body {

        p {
            margin-bottom: 0;
        }
        .friendImg {
            font-size: 10px;
        }
    }
}

.popover {
    text-align: center;
    img {
        max-width: 150px;
    }
}


#modal-popover {
    max-width: 550px;
    display: none;

    @media #{$mq-md, $mq-lg, $mq-xlg} {
        display: block;
    }

    .extra {
        width: 500px;
    }
}