.myProfile {
  max-width: 100%;
  width: 100%;

    .profile-user {
      height: 100%;
      background: $brown;
      margin-bottom: 15px;
      padding: 8px;
      display: flex;
      align-items: center;

      .profile-image {
        display: flex;
        align-items: center;
      }
      .user-image {
        background: $brown;
        border: $white 1px solid;
        border-radius: 2px;
      }
    }

    .profile-data {

      .list-group {

        .list-group-item {
          margin-bottom: 15px;

          .list-group-item-heading {
            font-size: 16px;
          }

          .list-group-item-text {
            font-size: 14px;
            color: black;
          }
        }
      }

      .photos {
        width: 100%;
      }
    }
  .Events-and-Friends {
    .events-btn {
      width: 100%;
      display: table;
      margin: auto;
    }
    .friends-btn {
      width: 100%;
      display: table;
      margin: auto;
    }
  }
}
