@import '../modules/variables';

@mixin vertical-center-flex($height) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
}

@mixin section_title($color) {
    text-align: center;
    background: $dark-blue;
    color: $color;
    border: 2px solid $dark-blue;
    padding: 5px;
    border-radius: $card-radius;
    font-size: 25px;
}

@mixin three-d-button($color) {
    color: $white;
    font-size: 14px;
    border-color: $teal-blue;
    border-radius: 0 0 5px 5px;
    background: $color;
    cursor: pointer;
    padding: 10px 18px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    box-shadow: 0 6px $dark-blue;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;

    &:after {
        content: '';
        position: absolute;
        z-index: -1;
    }
    &:hover {
        box-shadow: 0 4px $dark-blue;
        top: 2px;
        background: $teal-blue;
        color: $grey;
    }

    &:active {
        box-shadow: 0 4px $dark-blue;
        top: 6px;
        background: $teal-blue;
        color: $grey;
    }
}




